.CartPage-items {
    margin: 0;
    padding: 0;
}

.CartPage-items li {
    list-style: none;
}

.CartItem-count {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.CartItem-addOne,
.CartItem-removeOne {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.CartItem-addOne {
    border-left: none;
}

.CartItem-removeOne {
    border-right: none;
}

.cart-total {
    font-size: 25px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-align: right;
}

.empty-message {
    margin: 70px auto;
    color: #ccc;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}